@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;500;900&display=swap");

* {
   box-sizing: border-box;
}

/* * {
  border: 1px solid red
} */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  width: 700px;
  margin: auto;
}

/* @media (max-width: 1200px) {
  .container {
    width: 900px;
    margin: auto;
  }
} */


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    margin: auto;
  }
}

body {
  background-color : F4F4F2;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: 495464;
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: 900;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: FC5185;
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black
}

a:hover {
  color: whitesmoke
}

.btn {
  margin: 40px;
  /* background-color: #3F72AF;
  color: #DBE2EF;
  border-radius: 8px; */
  padding: 4px 8px;
  /* border: 4px solid #3F72AF; */
}

.btn:hover {
  background-color: #DBE2EF;
  /* color: #3F72AF;
  border: 4px solid #3F72AF; */
}



.card {
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

.avatar-circle {
  width: 150px;
  border-radius: 50%;
  margin: 32px auto;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}

.list-inline {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  margin: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 40px;
  margin: 20px;
}

.fab {
  font-size: 50px;
}

#description{
  padding: 30px;
}

#photo_paysage{
 background-image: url("wolfgang-hasselmann-JycMuGdocIM-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/* #btn_wagon{
  background-image: url(https://dwj199mwkel52.cloudfront.net/assets/core/svg/logo-lewagon-5ff5f090209d8d3bf493790d7935822208011748adb83a2fbc6bcaaf05a289ef.svg);
} */
